:root {
    --app-border-radius: 1em;
    --app-border-color: #666;
}

body {
    background: #fcfcfc;
}

a {
    text-decoration: none;
}

app-list {
    display: block;
    width: 90%;
    margin: 0px auto;
}

app {
    display: block;
    width: 100%;
}

app-title {
    display: block;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: var(--app-border-radius);
    border-top-right-radius: var(--app-border-radius);
    background-color: var(--app-border-color);
    padding: 0.3em 0px;
}

app-screenshot {
    display: block;
    background-image: url(images/tally-counter.png);
    background-position-x: center;
    background-color: #fcfcfc;
    overflow-x: hidden;
    border-bottom-left-radius: var(--app-border-radius);
    border-bottom-right-radius: var(--app-border-radius);
    border: 2px solid var(--app-border-color);
    border-top-width: 0px;
}

app-screenshot > img {
    visibility: hidden;
}